[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
rope = "*"
yapf = "*"
requests-mock = "*"

[packages]
beautifulsoup4 = "*"
lxml = "*"
django = "*"
django-heroku = "*"
gunicorn = "*"
academico = {editable = true,path = "."}

[requires]
python_version = "3.8"
